<div class="madlibDisplay">
	<p>Hey, {{madlibOutput[0].value}}</p>
	<p>What did you kill, {{madlibOutput[0].value}}?</p>
	<p>Hey, {{madlibOutput[0].value}}</p>
	<p>What did you kill, {{madlibOutput[0].value}}</p>
	<br>
	<p>Deep in the {{madlibOutput[1].value}} where the {{madlibOutput[2].value}} {{madlibOutput[3].value}} lies</p>
	<p>{{madlibOutput[0].value}} and his {{madlibOutput[4].value}} were taken by surprise</p>
	<p>So {{madlibOutput[5].value}} zapped him right betweeen the eyes, ZAP!</p>
	<p>All the children {{madlibOutput[6].value}}</p>
</div>