<div>
	<p>Hey, {{madlibsArr[0].value}}</p>
	<p>What did you kill, {{madlibsArr[0].value}}?</p>
	<p>Hey, {{madlibsArr[0].value}}</p>
	<p>What did you kill, {{madlibsArr[0].value}}</p>
	<br>
	<p>Deep in the {{madlibsArr[1].value}} where the {{madlibsArr[2].value}} {{madlibsArr[3].value}} lies</p>
	<p>{{madlibsArr[0].value}} and his {{madlibsArr[4].value}} were taken by surprise</p>
	<p>So {{madlibsArr[5].value}} zapped him right betweeen the eyes, ZAP!</p>
	<p>All the children {{madlibsArr[6].value}}</p>
</div>